@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.main-descarga{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1445px;
    height: 800px;
}


.descarga{
    width: 560px;
    height: 398px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.descarga img{
    width: 320px;
    height: 188px;
}

.descarga h1{
    /* font-weight: normal; */
    font: 36px;
}

.descarga p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font: 14px;
    margin-bottom: 10px;
}

.descarga button{
    background-color: rgb(0, 168, 132);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 234.78px;
    height: 38px;
    padding: 10px 24px;
    border-radius: 20px;
    color: rgb(17, 27, 33);
    font-weight: 600;
    cursor: pointer;
}

.message_list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1445px;
    height: 100%;
    background-image: url(../assets/img/2b609488b4711e06e40a213e24e55d77.jpg);
    position: relative;
}


.headerr{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(32, 44, 51);
}

.info-header{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.info-header h1{
    font-weight: normal;
    margin: 15px 5px;
}

.info-header img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 15px 10px 15px 15px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.icon-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 8px 12px;
    margin: 10px;

}

.icon-header i{
    width: 24px;
    height: 24px;
    font-size: 24px;
}

.icon-header i:hover{
    cursor: pointer;
}

#video{
    width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    /* border: 1px solid rgb(45, 58, 64); */
    border-radius: 40px;
    margin: 10px 0 0 0;

}

#video i{
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mensajes{
    width: 100%;
    height: calc(1445px - 142px);
    overflow-y: scroll;
    padding: 0 20px 10px 20px;
    /* overflow: hidden; */
}



.form-chat{
    display: flex;
    flex-direction: row;
    background-color: rgb(32, 44, 51);
    width: 100%;
    height: 62px;
    padding: 0 16px 5px;

}

.form-chat div{
    margin: 0px 6px 0px 6px;
}

.form-chat-input{
    background-color: rgb(42, 57, 66);
    width: 1245px;
    height: 40px;
    margin: 5px 8px;
    padding: 9px 12px;
    border-radius: 10px;
    border: none;
    border-style: none;
}

.form-chat-input:focus-visible{
    outline: none;
}

.form-chat-input::placeholder{
    color: white;
    font-weight: normal;
}

.form-chat button {
    width: 40px;
    height: 52px;
}

.form-chat-icon{
    background-color: rgb(32, 44, 51);
    width: 40px;
    height: 52px;
    font-size: 25px;
    color: white;
    cursor: pointer;
}



@media screen and (max-width : 1200px) {
    .message_list{
        width: calc(1445px / 2);

    }

    .main-descarga{
        width: calc(1445px / 2);
    }

    .form-chat{
        width:calc(1445px / 2);
    }

    .form-chat-icon{
        font-size: 16px;
        padding: 0 8px;
    }

    

}

@media screen and (max-width: 1020px) {
    .message_list{
        width: calc(1445px / 2 - 170px);

    }

    .main-descarga{
        width: calc(1445px / 2 - 170px);
    }

    .form-chat{
        width:calc(1445px / 2 - 170px);
    }

    .form-chat-icon{
        font-size: 16px;
        padding: 0 8px;
    }
}

@media screen and (max-width: 750px){
    .main-descarga{
        display: none;
    }

}